<div class="center jumbotron">
  <h1>Alpha Blog</h1>
  <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>

<h1>
  Welcome
</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis ex a massa aliquet posuere sit amet blandit tellus. Vestibulum sed velit ac enim ultrices semper. Praesent volutpat venenatis tellus, malesuada rhoncus nunc pulvinar eu. Vivamus et facilisis ipsum. In molestie erat orci. Fusce blandit sem vitae urna imperdiet vehicula. Morbi lobortis purus volutpat leo fermentum, sed dictum libero bibendum.
</p>
<p>
Cras in blandit libero, non convallis nibh. Vestibulum commodo eget neque vel feugiat. Mauris at augue nec nibh tempor ultrices. Nam tristique, turpis ut facilisis malesuada, enim purus vestibulum leo, condimentum rhoncus eros turpis sit amet purus. Curabitur mattis ligula cursus tortor tristique laoreet. Morbi justo nunc, efficitur sit amet porttitor in, elementum a lectus. Etiam mollis nisi sed libero pulvinar, sed molestie ipsum accumsan. Donec at semper ante. Phasellus sit amet arcu aliquet dui varius malesuada in in diam. Sed vehicula quis urna sed elementum. Nulla dictum massa sed augue lacinia, quis condimentum neque fermentum. Nullam mollis mattis velit, ut tristique mi. Nullam sodales in purus faucibus luctus. Nullam erat leo, efficitur non gravida eu, condimentum ut ligula.
</p>