<div class ="container">
  <footer class ="footer">
  <small>Copyright &copy; Alpha Blog 2018 by Austin</small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", pages_about_path %></li>
    </ul>
    </nav>
  </footer>
</div>